@{
    ViewData["Title"] = "About us";
}

<div class="container my-5">
    <h1 class="text-center mb-4">About us</h1>

    <section class="mb-5">
        <h2 class="text-primary">Our company</h2>
        <p>
            We are Roshira Building Company. We are engaged in the construction of bomb shelters,
            warehouses, bunkers. In these difficult times, more than ever, everyone needs a place where
            they can feel safe. Since stress has a strong impact on learning, well-being, health, feeling
            the world, life itself, it accelerates the aging of the body. We build high-quality and affordable
            storage facilities. We were formed quite recently, about 2 years ago, and we already have quite
            a large selection of solutions that you can use. You can find all the information on the website,
            also in the support there are contact numbers by which you can clarify any information and
            recommend solutions for improving our company. Thank you for your attention!!!!
        </p>
    </section>

    <section class="mb-5">
        <h2 class="text-primary">Our mision</h2>
        <p>We want to help our people country. Thay each peaple can live without stress.</p>
    </section>

    <section class="mb-5">
        <h2 class="text-primary">Our command</h2>

        <div class="row">
            <div class="col-md-4 text-center mb-4">
                <img src="https://via.placeholder.com/80" alt="One person" class="rounded-circle mb-2">
                <h5>Roma</h5>
                <p>General</p>
            </div>
            <div class="col-md-4 text-center mb-4">
                <img src="https://via.placeholder.com/80" alt="Two person" class="rounded-circle mb-2">
                <h5>Oleg</h5>
                <p>HR</p>
            </div>
            <div class="col-md-4 text-center mb-4">
                <img src="https://via.placeholder.com/80" alt="Three person" class="rounded-circle mb-2">
                <h5>Radiator</h5>
                <p>Builder</p>
            </div>
        </div>
    </section>
</div>